
body {
  margin: 0;
  background-color: #332e39 !important;
  color: #332e39;
  font-family: 'Roboto' !important;
  font-weight: 400px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

h1{
  font-family: 'Elsie';
  color: #332e39;
}
input, textarea{
  color: #332e39;
  font-size: 16px;
}


